.logo {
    width: 50%;
    height: 80%;
    margin: 5px;
    border-radius: 50%;
    transition: all 2s ease;
}

.imgWrapper {
    display: flex;
    width: 10%;
}

.logo:hover {
    transform: rotateY(360deg);
}

.header {
    grid-area: header;
    background-color: #30c3be;
    display: flex;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.login {
    display: flex;
    align-self: center;
    width: 90%;
    justify-content: flex-end;
}

.link {
    color: white;
    margin-right: 30px;
    font-weight: bold;
}

