body {
  background-color: darkcyan;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.app-wrapper {
  font-size: 22px;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;
  grid-template-areas:
"header header"
"nav content"
;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #30c3be;
  border-radius: 20px;
  padding: 20px;
  margin-right: 10px;
}

/*.popup-overlay {*/
/*  background: rgba(0, 0, 0, 0.5);*/
/*}*/